-var pageTitle = "SVGAnimationWithText"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/style
    body
        include pug/components/myName
    //- Script
    include pug/layout/script